.Todo {
  border-radius: 20px;
  width: 320px;
  padding: 50px;
  margin: auto;
  border: 2px solid rgb(141, 155, 141);
}

.header-style {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.user {
  margin: 0px 50px;
}
